<section class="text-gray-600 body-font">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-center">{{title}}</h1>
    <div class="container px-5 py-5 mx-auto">
        <div class="flex flex-wrap -m-4">
            {{#if existDocs}}
                {{#each products}}
                    {{>item}}
                {{/each}}
            {{else}}
                loading...<br><br>
            {{/if}}
        </div>


        <a 
            {{#if hasPrevPage}} 
                href="/?limit={{limit}}&page={{prevPage}}" 
            {{/if}}
        >
            Prev
        </a>
        [{{ page }}]
        <a
            {{#if hasNextPage}} 
                href="/?limit={{limit}}&page={{nextPage}}" 
            {{/if}}
        >
            Next
        </a>
        <br>
        
        Page: <input type="text"> <button onclick="irAPag({{limit}})">go</button>
        <script>
            function irAPag(limit) {
                const pagDeseada = document.querySelector('input').value || 1
                window.location = `/?limit=${limit}&page=${pagDeseada}`
            }
        </script>


    </div>
</section>


