<section class="text-gray-600 body-font">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-center">{{title}}</h1>
    <div class="container px-5 py-5 mx-auto">
        {{#if existDocs}}
        <div class="flex flex-wrap -m-4">
            {{#each products}}
            {{>item}}
            {{/each}}
        </div>

        <h3 class=" block my-4">Total products : {{totalDocs}}, showing {{limit}}</h3>
        <a {{#if hasPrevPage}} href="/?limit={{limit}}&page={{prevPage}}&category={{query.category}}&sort={{query.sort}}" {{/if}}>
            Prev
        </a>
        [{{ page }}/ {{totalPages}}]
        <a {{#if hasNextPage}} href="/?limit={{limit}}&page={{nextPage}}&category={{query.category}}&sort={{query.sort}}" {{/if}}>
            Next
        </a>

        <br>

        Page: <input class="border" type="text"> <button onclick="irAPag({{limit}})">go</button>
        <script>
            function irAPag(products.limit) {
                const pagDeseada = document.querySelector('input').value || 1
                window.location = `/?limit=${products.limit}&page=${products.pagDeseada}`
            }
        </script>
        {{else}}
        loading...<br><br>
        {{/if}}


    </div>
</section>